html {
    height: 100%;
}

body {
    position: relative;
    background-color: white;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Arvo";
}

/**/
/**HEADER**/
/**/
#header_article {
    display: flex;
    justify-content: center;
    min-width: 100%;
    min-height: 25em;

    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 6px solid #6D2878;


}

#cadre_titre {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 25em;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(000, 0, 0, 0.5);

}

#header_article>#cadre_titre>h1 {
    color: white;
    font-size: 4.5em;
    margin-top: auto;
    margin-bottom: auto;
    color: #FFF;
}




/**/
/**CARD NEWS**/
/**/



#contenu_article {
    margin: 1em;
    padding: 1em;
    height: auto;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    -webkit-box-shadow: 0px -5px 15px 3px rgba(177, 177, 177, 0.17);
    box-shadow: 0px -5px 15px 3px rgba(177, 177, 177, 0.17);
    border-radius: 5px;
}


#contenu_article p {

    font-size: 1.5em;
    text-align: left;
}

.boutons_partage {
    margin-bottom: 30px;
    display: block;
    text-align: center;

}

#icones_partage {}


.fa-facebook-square {
    color: #6D2878;
    margin-right: 20px;
}

.fa-twitter-square {
    color: #6D2878;
}


/*.fa-facebook-square:hover{
    color:#6D2878;
    transition-duration: 0.5s;
    transform: scale(1.2);
    -webkit-box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, 0.38);
}*/
@media screen and (max-width: 1000px)

/*** pour petits écrans ordinateurs***/
    {
    #contenu_article {
        width: 75%;
    }

    #header_article>#cadre_titre>h1 {
        font-size: 3em;
    }

    #contenu_article p {
        font-size: 1.5em;
    }

}



@media screen and (max-width: 800px)

/*** pour écrans tablettes***/
    {
    #contenu_article {
        width: 90%;
    }

    #header_article>#cadre_titre>h1 {
        font-size: 2.5em;
    }

    #contenu_article p {
        font-size: 1.2em;
    }

}

@media screen and (max-width: 500px)

/*** pour écrans tablettes***/
    {
    #contenu_article {
        width: 95%;
    }

    #header_article>#cadre_titre>h1 {
        font-size: 2em;
    }

    #contenu_article p {
        font-size: 1.2em;
    }

}