html {
     height: 100%;
}

body {
     position: relative;
     background-color: white;
     min-height: 100%;
     margin: 0;
     padding: 0;
     overflow-x: hidden;
     font-family: "Arvo";
}

#header_contact {
     display: flex;
     justify-content: center;
     min-width: 100%;
     min-height: 25em;
     background-image: url(../images/sport3.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     border-bottom: 5px solid #6D2878;
}

#cadre_titre {
     text-align: center;
     display: flex;
     justify-content: center;
     width: 100%;
     height: 4em;
     margin-top: auto;
     margin-bottom: auto;
     background-color: rgba(000, 0, 0, 0.5);
}

#header_contact > #cadre_titre > h1 {
     color: white;
     font-size: 2.5em;
     margin-top: auto;
     margin-bottom: auto;
}

form {
     background-color: white;
     padding: 10px;
     display: block;
}

#element-form2, #element-form1 {
     margin-left: 5px;
     margin-right: 5px;
}

legend {
     margin-bottom: 10px;
     font-size: 2em;
     color: white;
}

#conteneur-form input {
     margin-bottom: 20px;
     border-radius: 5px;
     height: 42px;
     border: solid 2px;
     border-color: #6D2878;
}

#conteneur-form textarea {
     border-radius: 5px;
     border: solid 2px;
     height: 68%;
     border-color: #6D2878;
}

#bouton-form {
     animation-duration: 4s;
     animation-name: slidein;
     text-align: center;
}

#bouton-form input {
     border-radius: 5px;
     color: white;
     background-color: #6D2878;
     width: 150px;
     height: 40px;
     font-size: 1em;
     margin-top: 10px;
     margin-bottom: 20px;
}

#bouton-form input:hover {
     background: rgb(49, 47, 47);
     color: white;
     background-color: black;
}

.parallax-window {
     min-height: 50vh;
     background: transparent;
}

iframe {
     width: 100%;
     height: 50vh;
}

@media (max-width:1099px) {
     #join_us { font-size: 1.5em; }
}

@media (max-width:991px) {
     #header_contact { min-height: 35em; }
}

@media (max-width:767px) {
     #header_contact { min-height: 35em; }
}

#header_contact h1 {
     color: white;
     margin-top: auto;
     margin-bottom: auto;
     font-size: 3em;
}

#join_us {
     padding-top: 1%;
     width: 60%;
     margin-bottom: 1%;
     margin: 0 auto;
     font-size: 1.1em;
}

#conteneur-form {
     margin-top: 20px;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     animation-duration: 2s;
     animation-name: slidein;
}

@media (max-width:480px) {
     #header_contact { min-height: 35em; }
     #join_us > h2 { font-size: 1.8em; }
}
