@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('http://weloveiconfonts.com/api/?family=entypo');

* {
    box-sizing: border-box;
  }


  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }



  .generic-anchor {
    color: #8DB9ED;
  }
  .generic-anchor:visited {
    color: #8DB9ED;
  }
  .generic-anchor:hover {
    color: #ccc;
  }

  .flex-rw {
    display: flex;
    flex-flow: row wrap;
    min-height: 35vh;
  }


  footer {
    background: #643A88;
    margin-top: auto;
    width: 100%;
  }

  .footer-list-top {
    width: 33.333%;
  }

  .footer-list-top > li {
    text-align: center;
    padding-bottom: 10px;
  }

  .footer-list-header {
    padding: 10px 0 5px 0;
    color: #fff;
    font: 2.3vw "Oswald", sans-serif;
  }

  .footer-list-anchor {
    font: 1.3em "Open Sans", sans-serif;
    color: white;
  }


  .footer-social-section::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 10px;
    border-top: 1px solid #ccc;
    width: calc(100% - 20px);
  }

  .footer-social-overlap {
    position: relative;
    z-index: 2;
    background: #373737;
    padding: 0 20px;
  }

  .footer-social-connect {
    display: flex;
    align-items: center;
    font: 3.5em "Oswald", sans-serif;
    color: #fff;
  }

  .footer-social-small {
    font-size: 0.6em;
    padding: 0px 20px;
  }

  .footer-bottom-section > div:first-child {
    margin-right: auto;
  }

  .footer-bottom-wrapper {
    font-size: 1.5em;
    color: #fff;
  }

  .footer-address {
    display: inline;
    font-style: normal;
  }

  @media (min-width: 1750px) {

      .flex-rw {

      }

      .footer-list-anchor {
        font: 1.8em "Open Sans", sans-serif;
      }

      .footer-bottom-wrapper {
        font-size: 1.8em;
      }
  }

  @media (max-width:991px) {

    .flex-rw {

    }
  }

  @media (max-width: 480px) {

    .flex-rw {

    }

    .footer-list-anchor {
      font: 1em "Open Sans", sans-serif;
    }

    .footer-bottom-wrapper {
      font-size: 1em;
    }
  }
  footer.nb-footer {
  background: #643A88;
  border-top: 1px solid black;
}


  footer.nb-footer .footer-info-single {
  margin-top: 30px;
}

  footer.nb-footer .footer-info-single .title {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 30px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 5px;
  text-align: center;
}

  footer.nb-footer .footer-info-single ul li a {
  display: block;
  color: white;
  margin-left: 38%;
  font-size: 1.2em;
  font-weight: bold;
  padding: 2px 0;
  text-align: left;
}

  footer.nb-footer .footer-info-single ul li a:hover {
  color: grey;
  text-decoration: none;
}

  footer.nb-footer .footer-info-single p {
  font-size: 13px;
  line-height: 20px;
  color: white;
}

.footer2 {
  padding: 20px 0;
  text-align: center;
  min-height: 10vh;
  background-color: #643A88;
}

.social {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  line-height: 50px;
  font-family: Entypo;
  font-size: 30px;
  text-align: center;
  color: rgb(216, 196, 196);
  border-radius: 50%;
  background: white;
  overflow: hidden;
  transition: color .2s;
}

.social:hover {
  color: #6D2878;
  cursor: pointer;
}


@media (min-width: 1750px) {
  .footer2 {
    padding: 20px 0;

  }

  .social {
    width: 70px;
    height: 70px;
    margin-right: 2em;
    line-height: 70px;
    font-size: 35px;
  }
}

@media (max-width:991px) {
  .footer2 {
    padding: 20px 0;
    min-height: 10vh;
  }

  .social {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    line-height: 50px;
    font-size: 30px;
  }
}

@media (max-width:776px) {
  .footer2 {
    padding: 20px 0;
    min-height: 10vh;
  }

  .social {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    line-height: 50px;
    font-size: 30px;
    margin-left: 40px;
  }
}

@media (max-width:480px) {
  .footer2 {
    padding: 20px 0;
    min-height: 10vh;
  }

  .social {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 50px;
  }

  .social {
    box-shadow: none;
  }
}
