@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('http://weloveiconfonts.com/api/?family=entypo');

* {
  margin: 0;
  padding: 0;
}

.footer2 {
  padding: 20px 0;
  text-align: center;
  min-height: 23vh;
  background-color: #6D2878;
}

.social {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 10px;
  line-height: 70px;
  font-family: Entypo;
  font-size: 35px;
  text-align: center;
  color: rgb(216, 196, 196);
  border-radius: 50%;
  background: white;
  overflow: hidden;
  transition: color .2s;
}

.social:hover {
  color: #6D2878;
  cursor: pointer;
}


@media (min-width: 1750px) {
  .footer2 {
    padding: 20px 0;
    min-height: 15vh;
  }

  .social {
    width: 70px;
    height: 70px;
    margin-right: 2em;
    line-height: 70px;
    font-size: 35px;
  }
}

@media (max-width:991px) {
  .footer2 {
    padding: 20px 0;
    min-height: 20vh;
  }

  .social {
    width: 70px;
    height: 70px;
    margin: 0 10px;
    line-height: 70px;
    font-size: 35px;
  }
}

@media (max-width:776px) {
  .footer2 {
    padding: 20px 0;
    min-height: 28vh;
  }

  .social {
    width: 70px;
    height: 70px;
    margin: 0 10px;
    line-height: 70px;
    font-size: 35px;
    margin-left: 40px;
  }
}

@media (max-width:480px) {
  .footer2 {
    padding: 20px 0;
    min-height: 20vh;
  }

  .social {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 50px;
  }

  .social {
    box-shadow: none;
  }
}
