.les3tableaux{
    animation-duration: 1s;
    animation-name: slidein;
    margin: 1%;
  }

.les3tableaux{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

table th{
    background-color: #6D2878;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: white;
  }

table td{
    background-color: #b653c6;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    font-size: 1.7em;
    color: white;
  }

table{
    border-collapse: collapse;
    width: 25%;
    border-radius: 20px;
    overflow: hiden;
    margin: 1%;
  }

  p{
    font-family: Arial,sans-serif;
    font-size: 1.6em;
    width: 200px;
    height: 43px;
    padding-top: 7px; /*permet le centrage vertical*/
    text-align: center;
    color: #000;
    background: #666;
    background: linear-gradient( #666, #2C2C2C);
    border-radius: 8px;
}


#titre{
    text-align: center;
    font-size: 1.7em;
}
