html{
    height: 100%;
}

body{
    position: relative;
    background-color: white;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Arvo";
    text-align: center;
}

h2  {
    font-size: 2em;
}

/*************/
/* PRESIDENT */
/*************/
#carouselExampleControls {
  margin-top: 4%;
}

.pImg {
    width: 35%;
    float: left;
    height: auto;
    background: white;
}


.pImg img {
    width: 80%;
    max-width: 300px;
    margin-left: 50px;
}

.pTexte > p {
    width: 55%;
    float: right;
    height: auto;
    font-size: 1.5em;
    margin-right: 60px;
    margin-top: 10px;
}

.pTexte > h2 {
  text-align: center;
  font-size: 3em;
}

@media all and (max-width:1099px) {
    .presentation {
        margin-top: 1%;
    }

    .pTexte {
        font-size: 1.4em;
        margin-right: 40px;
    }

    #slider {
        margin-top: 6%;
    }
}

@media (max-width:991px) {
    .presentation {
        margin-top: px;
    }

    .pTexte {
        font-size: 1.2em;
        margin-right: 40px;
    }
}

@media (max-width:767px) {
    .presentation {
        margin: 1%;
    }

    .pImg img {
        margin-top: 20px;
        margin-left: 20px;
    }

    .pTexte {
        font-size: 1em;
        margin-right: 20px;
    }

    #slider {
        margin-top: 7%;
    }
}

@media (max-width:480px) {

    h2 {
        font-size: 1.5em;
    }
    .presentation {
        margin-top: 20px;
    }

    .pImg img {
        margin-top: 0px;
        margin-left: 0px;
    }

    .pTexte {
        font-size: 0.8em;
        margin-right: 20px;
    }

    #slider {
        margin-top: %;
    }
}

/*************/
/** PARRALAX**/
/*************/

.parallax-window {
    min-height: 40%;
    background: transparent;
}

/*************/
/** A PROPOS**/
/*************/

.aPropos {
    width: 100%;
    margin: 1%;
}

.aPimg{
    width: 35%;
    float: right;
    height: auto;
    background: white;
}

.aPimg img {
    width: 80%;
    max-width: 350px;
    margin-right: 20px;
}

.aPtexte {
    width: 55%;
    float: left;
    font-size: 1.8em;
    margin-left : 50px;
    margin-top: 2%;
}

@media all and (max-width:1199px) {


    .aPimg img {
        margin-right: 20px;
        margin-top: 20px;
    }


    .aPtexte {
        font-size: 1.5em;
        margin-left : 50px;
    }
}

@media (max-width:991px) {


    .aPimg img {
        margin-right: 20px;
        margin-top: 40px;
    }


    .aPtexte {
        font-size: 1.2em;
        margin-left : 50px;
    }
}

@media (max-width:767px) {



    .aPtexte {
        font-size: 1em;
        margin-left : 30px;
        margin-top: 3%;
    }
}

@media (max-width:480px) {


    .aPtexte {
        font-size: 0.8em;
        margin-left : 5px;
        margin-top: 0%;
    }
    .aPimg img {
        margin-right: 20px;
        margin-top: 70px;
    }
}
