html {
    height: 100%;
}

body {
    position: relative;
    background-color: hite;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Arvo";
    text-align: center;
}

h2  {
    font-size: 2em;
}

/* Slider */

#carouselExampleControls {
  margin-top: 3%;
}

.carousel-caption {
  background-color: rgba(255, 255, 255, .4);
  margin-left: 15%;
  margin-right: 15%;
}
.carousel-caption > p {
  color: black;
  font-size: 1.2em;
}

/*************/
/* PRESIDENT */
/*************/

.presentation {
  margin: 2% 15%;
  display: flex;
}

.pTexte {
  margin: 0 10%;
  text-align: justify;
}

.pImg{
  margin: 1%;
}

/*************/
/** PARRALAX**/
/*************/

.parallax-window {
    min-height: 20em;
    background: trasparent;
}

/*************/
/** A PROPOS**/
/*************/

.aPropos {
  margin: 2% 15%;
  display: flex;
}

.aPtexte {
  margin: 0 5%;
  text-align: justify;
}

.smallImg {
  text-align: center;
}

.smallImg img {
  max-width: 220px;
}

@media (max-width: 992px) {
  .presentation, .aPropos {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
}
