html{
    height: 100%;
}

body{
    position: relative;
    background-color: hite;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Arvo";
    text-align: center;
}

h2  {
    font-size: 2em;
}

#carouselExampleControls {
  margin-top: 3%;
}

/*************/
/* PRESIDENT */
/*************/

.presentation {
  margin: 2% 15%;
  display: flex;
  background-color: rgb(250, 250, 246);
  box-shadow: 5px 5px 5px rgb(226, 208, 208);
}

.pTexte{
  margin: 0 10%;
  text-align: justify;
}

.pImg{
  margin: 1%;
}

@media (max-width:1400px) {

.presentation{
  display: block;
}

.pImg{
  text-align: center;
}

}

/*************/
/** PARRALAX**/
/*************/

.parallax-window {
    min-height: 35em;
    background: trasparent;
}

/*************/
/** A PROPOS**/
/*************/

.aPropos {
  margin: 2% 15%;
  display: flex;
  background-color: rgb(250, 250, 246);
  box-shadow: 5px 5px 5px rgb(226, 208, 208);
}

.aPtexte{
  margin: 0 10%;
  text-align: justify;
}

.aPimg{
  margin: 1%;
}

@media (max-width:1400px) {

.aPropos {
  display: block;
}

.aPimg{
  text-align: center;
}

}
