#bloc_rubphotos {
    border-bottom: 6px solid #6D2878;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 45em;
    background-image: url(../images/f1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#cadre_titre {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10em;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(000, 0, 0, 0.5)
}

#bloc_rubphotos h1 {
    font-size: 6em;
    color: #6D2878;
    witdh:100%:
    height:100em
    margin-top: auto;

}

p {
    background-color: aliceblue;
}

#choix_rubphoto {
<<<<<<< HEAD
    justify-content: center;
    align-items: center;
    display:inline-flex;
=======
    display: inline-flex;
>>>>>>> 395c1acee879183c1fc27005422c6d46cb77b27a
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: white;
<<<<<<< HEAD
    text-align:center;
    height: 400px;

=======
    text-align: left;
>>>>>>> 395c1acee879183c1fc27005422c6d46cb77b27a
}
